* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 64px;
}

.buttons {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.button {
    margin: 0 2px;
}